.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.container{
  backdrop-filter: blur(6px);
  background: #00000047;
  max-width: 960px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.listado{
  display: flex; 
  margin-bottom: 6px;
}

.chatinput{
  margin-top: 10px;
}

.chatinput input{
  color: #e3e3e3;
  background-color: #52525273;
  border: var(--bs-border-width) solid #52525273;
  width: 80%;
  float: left;
}

.chatinput input::placeholder{
  color: #929292;
}

.chatinput button{
  color: white; 
  border: 0px;
  transition: color .15s ease-in-out;

  :hover{
    color: #7e7e7e;
  }
}

.chat{
  max-height: 435px; 
  overflow-y: overlay;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.container-mensajePropio {
  padding: 10px;
  background: #3e3e3e73;
  border-radius: 25px;
  border-top-right-radius: 0px;
  min-width: 30%;
  max-width: 90%;
  position: sticky;
  left: 100%;
  margin-right: 5px;
}

.container-mensaje {
  padding: 10px;
  background: #4a4a4ae0;
  border-radius: 25px;
  border-top-left-radius: 0px;
  min-width: 30%;
  max-width: 90%;
}

.nombre{
  display: table-cell;
  font-size: 15px;
}

.mensaje{
  margin-bottom: 0;
  word-wrap: break-word;
}

.hora{
  float: right;
  margin-bottom: 0;
  color: #c7c7c7;
  font-size: 13px;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}