<br><div class="container py-3 px-3 rounded-3 shadow-lg text-white" style="max-width: 960px;">
    <h2 class="pb-2 border-bottom">Chat</h2><br>
    <div class="chat" id="listado">
        <div *ngFor="let mensaje of this.mensajes" class="listado">
            <div class="container-mensaje" *ngIf="mensaje.email != this.userService.userLogueado.email">
                <p class="nombre" [ngStyle]="{'color':this.mensaje.color}">{{mensaje.email}}</p>
                <p class="mensaje">{{mensaje.mensaje}}</p>
                <p class="hora">{{mensaje.hora}}</p>
            </div><br>
            <div class="container-mensajePropio" *ngIf="mensaje.email == this.userService.userLogueado.email">
                <p class="nombre" style="color:#52b1bb">Tú</p>
                <p class="mensaje">{{mensaje.mensaje}}</p>
                <p class="hora">{{mensaje.hora}}</p>
            </div><br>
        </div>
    </div>
    <div class="chatinput">
        <input class="form-control" id="mensaje" type="text" placeholder="Mensaje" [(ngModel)]="mensaje">
        <button type="button" class="btn" (click)="Enviar()">
            <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotate(45deg);" height="25" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg></button>
    </div>
</div>
