<br>
<div class="container py-5 px-5 rounded-3 shadow-lg text-white">
    <h2 class="pb-2 border-bottom">Juegos</h2>
        <div class="row items">
            <div class="card col-sm-6" style="width: 18rem;">
                <div class="icon-square text-dark flex-shrink-0">
                    <img height="60px" src="../../../assets/Logle.png">
                </div>
                <div class="card-body">
                    <h3>Logle</h3>
                    <p>Con un total de 3 intentos, trata de adivinar de que empresa es el logo mediante un fragmento.<br>
                        Cada vez que se falle 1 intento se va a revelar otra parte del logo.</p>
                    <button type="button" class="btn btn-logle btn-lg px-4 gap-3" routerLink="../juegos/logle">Jugar</button>
                </div>
            </div>
            
            <div class="card col-sm-6" style="width: 18rem;">
                <div class="icon-square text-dark flex-shrink-0">
                    <img height="60px" src="../../../assets/Ahorcado.png">
                </div>
                <div class="card-body">
                    <h3>Ahorcado</h3>
                    <p>Clásico juego de adivinar una palabra a partir de la cantidad de letras representado en líneas.<br>
                    Por cada letra incorrecta se agrega una extremidad (6 en total).</p>
                    <button type="button" class="btn btn-ahorcado btn-lg px-4 gap-3" routerLink="../juegos/ahorcado">Jugar</button>
                </div>
            </div>

            <div class="card col-sm-6" style="width: 18rem;">
                <div class="icon-square text-dark flex-shrink-0">
                    <img height="65px" src="../../../assets/MayorMenor.png">
                </div>
                <div class="card-body">
                    <h3>Mayor o Menor</h3>
                    <p>Desde un mazo de cartas, el jugador va a intentar adivinar si la siguiente carta es mayor o menor a la anterior.<br>
                    El jugador acumula 1 punto por cada carta adivinada.</p>
                    <button type="button" class="btn btn-mayomen btn-lg px-4 gap-3" routerLink="../juegos/mayoromenor">Jugar</button>
                </div>
            </div>
            
            <div class="card col-sm-6" style="width: 18rem;">
                <div class="icon-square text-dark flex-shrink-0">
                    <img height="60px" src="../../../assets/Preguntados.png">
                </div>
                <div class="card-body">
                    <h3>Preguntados</h3>
                    <p>El jugador se va a enfrentar a diferentes preguntas de multiple choice según la temática que le toque.<br>
                    Con la oportunidad de fallar 3 veces, se sumará 1 punto por cada respuesta correcta.</p>
                    <button type="button" class="btn btn-preguntados btn-lg px-4 gap-3" routerLink="../juegos/preguntados">Jugar</button>
                </div>
            </div>
        </div>
</div>
