  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid" *ngIf="this.userService.logueado">
      <a class="navbar-brand" routerLink="home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="quiensoy">Quién soy</a>
          </li>
        </ul>
        <div class="text-end" style="padding-right: 20px;">
          <h5 style="color:white;">{{this.userService.userLogueado.email}}</h5>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-outline-danger me-2" (click)="LogOut()">Log Out</button>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>