<br><div class="container py-5 px-5 rounded-3 shadow-lg text-white" style="max-width: 1040px; min-height: 385px;">
    <h2 class="pb-2 border-bottom">Preguntados <img *ngIf="this.categoria != ''" style="margin-left: 175px; margin-top: -20px;" width="50px" src="../../../assets/preguntados/{{this.categoria}}.gif"> {{this.categoria}}</h2>
    <div *ngIf="this.preguntaRandom == ''" class="row items">
        <div class="card col-sm-6">
            <div class="card-img">
                <img class="active" width="150px" src="../../../assets/preguntados/Historia.gif">
            </div>
            <button class="btn btn-outline-warning btn-lg px-4 gap-3" (click)="ElegirCategoria('Historia')">Historia</button>
        </div>
        <div class="card col-sm-6">
            <div class="card-img">
                <img class="active" style="margin: 15px;" width="120px" src="../../../assets/preguntados/Geografía.gif">
            </div>
            <button class="btn btn-outline-info btn-lg px-4 gap-3" (click)="ElegirCategoria('Geografía')">Geografía</button>
        </div>
        <div class="card col-sm-6">
            <div class="card-img">
                <img class="active" width="150px" src="../../../assets/preguntados/Ciencia.gif">
            </div>
            <button class="btn btn-outline-success btn-lg px-4 gap-3" (click)="ElegirCategoria('Ciencia')">Ciencia</button>
        </div>
        <div class="card col-sm-6">
            <div class="card-img">
                <img class="active" width="150px" src="../../../assets/preguntados/Cine.gif">
            </div>
            <button class="btn btn-outline-danger btn-lg px-4 gap-3" (click)="ElegirCategoria('Cine')">Cine</button>
        </div>
        <div class="card col-sm-6">
            <div class="card-img">
                <img class="active" width="150px" src="../../../assets/preguntados/Random.gif">
            </div>
            <button class="btn btn-outline-light btn-lg px-4 gap-3" (click)="ElegirCategoria('Random')">Al azar</button>
        </div>
    </div>

    <div *ngIf="this.preguntaRandom != ''">

        <!-- <h3 class="vidas"><img width="50px" id="vida" src="../../../assets/preguntados/vida.png">{{this.intentos}}</h3> -->
        
        <h3 style="margin-top: 3vh; float: left;"><img width="50px" id="puntos" src="../../../assets/puntos.png"> {{this.correctas}}</h3>
        
        <div class="vidas">
            <img width="50px" id="1" *ngIf="this.intentos > 0" src="../../../assets/preguntados/vida.png">
            <img width="50px" *ngIf="this.intentos < 1" src="../../../assets/preguntados/vida2.png">
            <img width="50px" id="2" *ngIf="this.intentos > 1" src="../../../assets/preguntados/vida.png">
            <img width="50px" *ngIf="this.intentos < 3" src="../../../assets/preguntados/vida2.png">
            <img width="50px" id="3" *ngIf="this.intentos > 2" src="../../../assets/preguntados/vida.png">
            <img width="50px" *ngIf="this.intentos < 2" src="../../../assets/preguntados/vida2.png">
        </div>

        <div class="resultado">
            <img class="scale-in-center" *ngIf="this.imagen == 'incorrecto'" src="../../../assets/preguntados/incorrecto.png">
            <img class="scale-in-center" *ngIf="this.imagen == 'correcto'" src="../../../assets/preguntados/correcto.png">
        </div>
            
        <div class="cartel">
            <img width="100px" *ngIf="this.preguntaRandom.poster" [src]="this.preguntaRandom.poster">
            <h3>{{this.preguntaRandom.pregunta}}</h3>
            <h2>{{this.tiempo}}</h2>
        </div>
        <div class="respuesta">
            <button class="btn btn-light btn-lg px-4 gap-3" id="{{this.preguntaRandom.respuestas[0]}}" (click)="Respuesta(this.preguntaRandom.respuestas[0])">{{this.preguntaRandom.respuestas[0]}}</button>
            <button class="btn btn-light btn-lg px-4 gap-3" id="{{this.preguntaRandom.respuestas[1]}}" (click)="Respuesta(this.preguntaRandom.respuestas[1])">{{this.preguntaRandom.respuestas[1]}}</button>
            <button class="btn btn-light btn-lg px-4 gap-3" id="{{this.preguntaRandom.respuestas[2]}}" (click)="Respuesta(this.preguntaRandom.respuestas[2])">{{this.preguntaRandom.respuestas[2]}}</button>
            <button class="btn btn-light btn-lg px-4 gap-3" id="{{this.preguntaRandom.respuestas[3]}}" (click)="Respuesta(this.preguntaRandom.respuestas[3])">{{this.preguntaRandom.respuestas[3]}}</button>
        </div>
    </div>
</div>
